*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #f8f9fa;
}

h5{
    text-decoration: solid;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* Mobile */
@media screen and (max-width:490px) and (max-height:844px){
}
/* Desktop */
@media screen and (min-width:491px) and (min-height:855px){
}