*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: none;
}

h5{
    text-decoration: solid;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* Mobile */
@media screen and (max-width: 490px){
    .carousel{
        display: none;
    }
}