*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: gainsboro;
}
.pagination{
    justify-content: center;
}
img{
    min-width: 450px;
    max-width: 450px;
    min-height: 300px;
    max-height: 300px;
}

p{
    max-width: 450px;
}

h5{
    max-width: 450px;
    color: red;
    text-decoration: underline red;
    cursor: pointer;
}
.container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 40px;
    margin-top: 40px;
    margin-left: 10%;
    grid-template-areas: 
    "img1 img2"
    "img3 img4"
    "img5 img6";
}

.img1{
    grid-area: img1 ;
}

.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.img6{
    grid-area: img6;
}

